<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
    <xi:include href="layout.html" />
    <head><title>Om</title></head>
    <body>
        <h2>Tuttosport.se</h2>
        <p>Tuttosport skannar kontinuerligt av Internet och letar efter VSK-nyheter. Ambitionen är att samla alla nyheter som rör Sportklubben på ett ställe. Resultatet presenteras på denna sida och i ett <a href="rss.html">RSS-flöde</a>. Tuttosport utvecklas och drivs av Jacques de Laval. Källkoden publiceras på <a href="">Github</a> under <a href="">GPL version 3 licens</a>.</p>
        <h2>Nyhetskällor</h2>
    </body>
</html>
